.csettings {
    margin: 2% 0 30px 2%;
    width: 96%;
}
.csettings__list {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
}
.csettings__list-item-active {
    background: #f5f5f5;
    border-left: solid 3px #b9d2a0;
}
.csettings__list-item {
    list-style: none;
    font-size: 14px;
    margin-left: 0;
    padding: 10px;
    display: block;
    cursor: pointer;
    border-left: solid 3px transparent;
    color: #000!important;
    text-decoration: none!important;
}
.csettings__list-item-value {
    float: right;
    color: #aaa;
}
.csettings__detail {
    width: 70%;
    padding-left: 25px;
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid #a9a9a9;
    min-height: 450px;
}
.csettings__detail-title {
    margin: 0;
    font-weight: 200;
}
.MuiRadio-colorSecondary.Mui-checked {
    color: #5CB85C !important;
}

.csettings__individual-setting-title {
    font-weight: 200;
    font-size: 20px;
    margin-top: 30px;
}
.csettings__individual-setting-descr {
    color: #777;
    font-size: 13px;
}
