div#content_wrapper {
    border-radius: 15px 15px 15px 15px;
    border: solid 7px rgba(0,0,0,.11);
    margin: 20px auto;
    width: 1040px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div#content_wrapper_inner {
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
}
.account_layout div#page_title {
    padding: 1.2em 3%;
}
div#page_title {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1.79em 3%;
    background: url(https://screenshotmonitor.com/less/common/img/site_bg_blurred3.png) repeat-x center top #ccd8e0;
}
#page_title>._\5ftimezone-switch {
    display: block;
    float: right;
    line-height: 2.2em;
}
.account_layout div#page_title h1 {
    font-size: 1.5em;
    font-weight: 300;
}

.empl-status.offline {
    background: rgba(197,205,213,.5);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);
}
.timeline-header a {
    color: #999;
    text-decoration: none;
}
.timeline-header .fa.fa-cog {
    color: gray;
    font-size: 17px;
}
div#content_wide {
    margin: 3% 0 0 3%;
    width: 94% ;

}
._timeline {
    margin-top: 2%!important;
}
._timeline_overview {
    margin-top: 20px;
}
._timeline_overview>.info-outer {
    margin: 0 0 20px;
    background: #eee;
    border-radius: 10px;
}
._timeline_overview>.info-outer>.info {
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
._timeline_overview>.info-outer>.info>tbody>tr>td:first-child {
    width: 48%;
}
._timeline_overview>.info-outer>.info>tbody>tr>.big {
    position: relative;
    box-shadow: inset -12px 0 10px -12px #ddd;
}
._timeline_overview>.info-outer>.info>tbody>tr>td>.dur {
    color: #777;
    font-size: 72px;
    font-weight: bold;
    line-height: 1em;
    text-shadow: 0 1px 0 #fff;
}
._timeline_overview>.info-outer>.info>tbody>tr>.big, ._timeline_overview>.info-outer>.info>tbody>tr>.big2 {
    text-align: center;
    background: -moz-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#fff),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center,#fff 0%,rgba(255,255,255,0) 100%);
}
._timeline_overview>.info-outer>.info>tbody>tr>td>.day {
    color: #999;
    font-size: 17px;
    line-height: 1em;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 17px;
}
._timeline_overview>.info-outer>.info>tbody>tr>td>.bot {
    margin: 4px 0 17px;
    color: #999;
    font-weight: bold;
}

._timeline_hours {
    border-radius: 3px;
    border-bottom: solid 5px #ddd;
    background: #ddd;
    position: relative;
}
._timeline_hours>.hours {
    pointer-events: none;
    display: table;
    width: 100%;
}
._timeline_hours>.hours>.hours-row {
    display: table-row;
}
._timeline_hours>.hours>.hours-row>.hour:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
._timeline_hours>.hours>.hours-row>.hour {
    display: table-cell;
    width: 4.16%;
    background-color: #eee;
    border: solid 0 #d5d5d5;
    border-top-width: 1px;
    border-left-width: 1px;
    height: 32px;
}
._timeline_hours>.hours>.hours-row>.hour>.name {
    padding: 0 0 15px 2px;
    line-height: 1.5em;
    font-size: .8em;
    position: relative;
    z-index: 2;
}
#never_work{
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    line-height: 1;
}
._timeline_screens>.activity>.head {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: bold;
    margin: 37px -3px 5px;
    padding: 3px 5px 3px 3px;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
    text-decoration: none;
    position: relative;
}
._timeline_screens>.activity>.head>.time {
    color: #db2b0b;
    padding-right: 5px;
}
._timeline_screens>.activity>.head>.activityLevel {
    padding: 4px;
    vertical-align: text-bottom;
}
svg:not(:root) {
    overflow: hidden;
}

.project-label {
    color: #fff;
    background: #888;
    font-size: 10px;
    padding: 3px 4px;
    line-height: 1em;
    border-radius: 2px;
    font-weight: 600;
    position: relative;
    top: -1px;
}
._timeline_screens>.activity>.head>.note, ._timeline_screens>.activity>.head>.offline-label {
    color: #666;
}
._timeline_screens>.activity>.head>.fa {
    display: inline;
    opacity: 0;
    line-height: 27px;
    color: #666;
    font-size: 16px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 10px;
}
._timeline_screens>.activity>.screens {
    margin-left: -12px;
}
.timeline-screen {
    display: inline-block;
    margin: 0 0 12px 12px;
    background: #c5c5c5;
    border: solid 6px #c5c5c5;
    border-radius: 6px;
}
.timeline-screen>.time {
    display: inline-block;
    max-width: 247px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.1;
}
.timeline-screen .equals {
    float: right;
    height: 15px;
    width: 15px;
    background-color: #fcd116;
    background-image: -ms-linear-gradient(top,#feec9b 0%,#fcd116 100%);
    background-image: -moz-linear-gradient(top,#feec9b 0%,#fcd116 100%);
    background-image: -o-linear-gradient(top,#feec9b 0%,#fcd116 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#feec9b),color-stop(1,#fcd116));
    background-image: -webkit-linear-gradient(top,#feec9b 0%,#fcd116 100%);
    background-image: linear-gradient(to bottom,#feec9b 0%,#fcd116 100%);
    position: relative;
    left: 3px;
    top: 1px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 4px;
    cursor: default;
    box-shadow: 0 1px 1px #bbb;
    display: none;
}
.timeline-screen .activityLevelContainer {
    float: right;
    vertical-align: top;
    margin-left: 5px;
    margin-bottom: 4px;
    height: 18px;
}
.timeline-screen>.delete, .timeline-screen>.blur {
    float: right;
    opacity: 0;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 #fff;
}
.timeline-screen>.delete, .timeline-screen>.blur {
    float: right;
    opacity: 0;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 #fff;
}
.timeline-screen>div>.image {
    border: solid 1px #fff;
    border-bottom: none;
    width: 305px;
    display: block;
}
.timeline-screen>div>.image>img {
    width: 303px;
}
#handelTitle{
    
        font-size: 1.5em !important;
        font-weight: 300 !important;
    
}
#handel_Calender{
    text-align: -webkit-center;
    margin-top: 20px;
}