div#content_wrapper {
    border-radius: 15px 15px 15px 15px;
    border: solid 7px rgba(0,0,0,.11);
    margin: 20px auto;
    width: 1040px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div#content_wrapper_inner {
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
}
.account_layout div#page_title {
    padding: 1.2em 3%;
}
div#page_title {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1.79em 3%;
    background: url(https://screenshotmonitor.com/less/common/img/site_bg_blurred3.png) repeat-x center top #ccd8e0;
}
#page_title>._\5ftimezone-switch {
    display: block;
    float: right;
    line-height: 2.2em;
}
 div#page_title h1 {
    font-size: 1.5em;
    font-weight: 300;
}

.empl-status.offline {
    background: rgba(197,205,213,.5);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);
}
.timeline-header a {
    color: #999;
    text-decoration: none;
}
.timeline-header .fa.fa-cog {
    color: gray;
    font-size: 17px;
}
div#content_wide {
    margin: 3% 0 0 3%;
    width: 100% ;

}
._timeline {
    margin-top: 2%!important;
}
._timeline_overview {
    margin-top: 20px;
}
._timeline_overview>.info-outer {
    margin: 0 0 20px;
    background: #eee;
    border-radius: 10px;
}
._timeline_overview>.info-outer>.info {
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
._timeline_overview>.info-outer>.info>tbody>tr>td:first-child {
    width: 48%;
}
._timeline_overview>.info-outer>.info>tbody>tr>.big {
    position: relative;
    box-shadow: inset -12px 0 10px -12px #ddd;
}
._timeline_overview>.info-outer>.info>tbody>tr>td>.dur {
    color: #777;
    font-size: 72px;
    font-weight: bold;
    line-height: 1em;
    text-shadow: 0 1px 0 #fff;
}
._timeline_overview>.info-outer>.info>tbody>tr>.big, ._timeline_overview>.info-outer>.info>tbody>tr>.big2 {
    text-align: center;
    background: -moz-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#fff),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center,ellipse cover,#fff 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center,#fff 0%,rgba(255,255,255,0) 100%);
}
._timeline_overview>.info-outer>.info>tbody>tr>td>.day {
    color: #999;
    font-size: 17px;
    line-height: 1em;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 17px;
}
._timeline_overview>.info-outer>.info>tbody>tr>td>.bot {
    margin: 4px 0 17px;
    color: #999;
    font-weight: bold;
}

._timeline_hours {
    border-radius: 3px;
    border-bottom: solid 5px #ddd;
    background: #ddd;
    position: relative;
}
._timeline_hours>.hours {
    pointer-events: none;
    display: table;
    width: 100%;
}
._timeline_hours>.hours>.hours-row {
    display: table-row;
}
._timeline_hours>.hours>.hours-row>.hour:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
._timeline_hours>.hours>.hours-row>.hour {
    display: table-cell;
    width: 4.16%;
    background-color: #eee;
    border: solid 0 #d5d5d5;
    border-top-width: 1px;
    border-left-width: 1px;
    height: 32px;
}
._timeline_hours>.hours>.hours-row>.hour>.name {
    padding: 0 0 15px 2px;
    line-height: 1.5em;
    font-size: .8em;
    position: relative;
    z-index: 2;
}
#never_work{
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    line-height: 1;
}
table.empls {
    width: 99%;
    margin-bottom: 30px;
    margin-left: 3%;
}