.site-header {
    background: url(https://screenshotmonitor.com/blog/wp-content/uploads/2013/11/site_bg1.jpg) no-repeat scroll top;
    background-size: 1600px auto;
}
.site-header .home-link {
    color: #141412;
    display: block;
    /* margin: 0 auto; */
    max-width: 1080px;
    min-height: 230px;
    padding: 0 20px;
    text-decoration: none;
    width: 100%;
}
.site-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 58px 0 10px;
}
.site-description {
    font: 300 italic 24px "Source Sans Pro", Helvetica, sans-serif;
    margin: 0;
}
.site-header .site-title:hover {
    text-decoration: underline;
}
.site {
    background-color: #fff;
    border: 7px solid #fff;
    margin: 20px auto;
    max-width: 1200px;
    width: 100%;
    border-radius: 14px;
}
.archive-header {
    background-color: #e8e5ce;
}
.archive-title, .archive-meta {
    font: 300 italic 30px "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1040px;
    padding: 30px 0;
    width: 100%;
}
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
    display: block;
}
.hentry {
    padding: 40px 0;
}
.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta {
    padding-left: 0;
}
.entry-title {
    font-weight: normal;
    margin: 0 0 5px;
}
.sidebar .entry-header .entry-meta {
    padding: 0;
}
.entry-meta > span {
    margin-right: 20px;
}
.entry-meta a {
    color: #bc360a;
}
.genericon:before, .menu-toggle:after, .featured-post:before, .date a:before, .entry-meta .author a:before, .format-audio .entry-content:before, .comments-link a:before, .tags-links a:first-child:before, .categories-links a:first-child:before, .edit-link a:before, .attachment .entry-title:before, .attachment-meta:before, .attachment-meta a:before, .comment-awaiting-moderation:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .bypostauthor > .comment-body .fn:before, .error404 .page-title:before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 16px/1 Genericons;
    vertical-align: text-bottom;
}
.entry-title a {
    color: #141412;
}
.entry-title a:hover{
    color: #ac0404;
}
/* .entry-meta .date a:before {
    content: "\f303";
} */
.site-main .sidebar-container {
    height: 0;
    position: absolute;
    top:  500px;
    width: 93%;
    z-index: 1;
}
.site-main .sidebar-inner {
    margin: 0 auto;
    max-width: 1040px;
}
.site-main .widget-area {
    float: right;
    width: 300px;
}
.simple-social-icons {
    overflow: hidden;
}
.widget .widget-title {
    font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 0 10px;
}
.simple-social-icons ul {
    margin: 0;
    padding: 0;
}
.widget {
    border-radius: 10px;
}
.widget .widget-title {
    font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 0 10px;
}
.widget ul, .widget ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.widget li {
    padding: 5px 0;
}
.widget a {
    color: #bc360a;
}
.widget .widget-title {
    font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 0 10px;
}
.widget {
    background-color: rgba(247, 245, 231, 0.7);
    font-size: 14px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 0 24px;
    padding: 20px;
    word-wrap: break-word;
}
#post-1242 ,#post-1240 ,#post-1238 , #post-1236 , #post-1230{ 
    text-align: left;
    margin-left: 30px;
}
 /* #post-1240{
    text-align: left;
    margin-left: 30px;
} */
.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta {
    max-width: 1040px !important;
    padding: 0 376px 0 60px !important;
}
.entry-header {
    margin-bottom: 30px;
  
}
.entry-content{
    width: 70% !important;
}

@media only screen and (max-width: 600px) {
    .comments-link, .entry-title, .entry-header {
        margin-left: 0px;
    }
    .entry-content {
        width: 100% !important;
    }
    .site-title {
        font-size: 28px;
    }
   
}