#page_signup {
    background: url(https://screenshotmonitor.com/less/common/img/site_bg.png) repeat-x 50% -20px;
    color: #000;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
#regcontainer {
    width: 960px;
    padding-left: 20px;
    margin: 45px auto;
    font-family: Open Sans,Arial,sans-serif;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#regtable>tbody>tr>td {
    vertical-align: top;
}
#regform {
    width: 30%;
    padding-right: 50px;
}
#regform #regform-fields {
    display: inline-block;
    background: #fff;
    padding: 21px 21px 24px;
    border-radius: 10px;
    box-shadow: 0 0 0 7px rgba(0,0,0,0.11);
}
#regform #regform-fields #regform-form input, #regform #regform-fields #regform-form select {
    width: 340px;
    font-size: 19px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.regfield {
    margin-bottom: 15px;
}
#you-agree {
    margin: 15px 0;
    line-height: 1.5em;
}

#regform #regform-fields #regform-form input, #regform #regform-fields #regform-form select {
    /* width: 340px; */
    font-size: 19px;
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}
#regform #regform-fields #regform-form label {
    display: block;
    font-size: 13px;
}
.regnote {
    float: right;
    color: #bbb;
    font-size: 13px;
}
#you-agree>label {
    display: inline-block!important;
    font-size: 14px!important;
}
#regtable>tbody>tr>td {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.3em;
}
h4 {
    font-size: 1.3em;
    color: #777;
    font-weight: 400;
    margin: 0 0 .3em;
}

#intro_est {
    text-shadow: 1px 1px 2px #fff;
    margin-top: 30px;
    padding: 30px 0 0;
    border-top: solid 1px rgba(0,0,0,0.1);
    width: 98%;
}
#intro_est>div {
    background: #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15) inset;
    border-radius: 50%;
    float: left;
    display: block;
    overflow: hidden;
    margin-top: -1px;
    width: 80px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 30px;
}
#intro_est>div img {
    width: 60px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
#intro_est i {
    font-style: normal;
    font-size: 12px;
    line-height: 1.5em;
    display: block;
    margin-bottom: 5px;
}
#intro_est span {
    font-size: .8em;
    color: #555;
}
#happybus {
    color: #fff;
    margin-top: 100px;
}
#happybus h5 {
    margin: 5px 0 5px;
    font-size: 16px;
    font-weight: 200;
}
#happybus img {
    width: 99%;
}
#texting h1 {
    margin: 5px 0 0;
    color: #1a2c36;
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}
#texting h4 {
    text-shadow: 0 0 1px #fff;
    color: #000;
    font-weight: 200;
    font-size: 18px;
}
#intro_est {
    text-shadow: 1px 1px 2px #fff;
    margin-top: 30px;
    padding: 30px 0 0;
    border-top: solid 1px rgba(0,0,0,0.1);
    width: 98%;
}