@media only screen and (max-width: 600px) {
    #font {
     font-size: 10px;
     
    }
    #iocon{
        display: none !important;
    }
    div#site_footer_wrapper ul#footer_left>li:nth-child(-n+7){
        padding: 0px 4px 0px 4px !important;
    }
  }