.hentry {
    padding: 40px 0;
}
.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta {
    padding-left: 0;
}
.entry-title {
    font-weight: normal;
    margin: 0 0 5px;
}
.entry-title a {
    color: #141412;
}
.sidebar .entry-header .entry-meta {
    padding: 0;
}

.entry-meta > span {
    margin-right: 20px;
}
.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after {
    content: "";
    display: table;
}
p {
    margin: 0 0 24px;
}
.entry-content a, .comment-content a {
    color: #bc360a;
}
menu, ol, ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
b, strong {
    font-weight: bold;
}
table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
#post-1289 , p , .entry-content , .entry-thumbnail{
    text-align: left;
    margin-left: 30px;
}
.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta {
    padding-left: 0;
}
.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after {
    content: "";
    display: table;
}
p {
    margin: 0 0 24px;
}
h2 {
    font-size: 30px;
    margin: 25px 0;
}
img.alignnone {
    margin: 5px 0;
}
.entry-title , p{
    width: 70%;
}
.comments-link , .entry-title , .entry-header{
    text-align: left;
    margin-left: 30px;
}
@media only screen and (max-width: 700px) {
    .widget-area {
      /* background-color: red; */
      display: none;
    }
    #handelBlogImg{
        width: 95% !important;
    }
    #post-1289, p, .entry-content, .entry-thumbnail , #post-1242, #post-1240, #post-1238, #post-1236, #post-1230 ,
    .comments-link, .entry-title, .entry-header{
        margin-left: 0px;
    }
  }