#account_nav_container {
    height: 50px;
}
#account_nav {
    background: #79975c;
    color: #fff;
    padding: 0 0;
    font-size: 1.071em;
    line-height: 3.333em;
}
#account_nav>ul {
    padding: 0;
    margin: 0 auto;
    max-width: 1040px;
    min-width: 1080px;
    list-style: none;
    height: 50px;
}
#account_nav>ul>li.cur {
    background-color: #718e55!important;
}
#account_nav>ul>li.cur>a {
    background: url(https://screenshotmonitor.com/less/common/img/nav_bottom.png) no-repeat bottom center;
    padding-bottom: 10px;
    margin-bottom: -10px;
}
#account_nav>ul>li {
    margin: 0 0 0 0;
    float: left;
    background: #79975c;
}
#account_nav>ul>li>a, #account_nav>ul>li>.dropdown>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
}
.acc-dropdown>.toggle>span:first-child {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.acc-dropdown>.toggle::after {
    content: "";
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: #b5cb9f transparent transparent;
    top: 50%;
    display: inline-block;
    position: static;
    right: auto;
    margin: 0 -3px -6px 12px;
}
.acc-dropdown>.menu.cols-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    max-width: 220%;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}
.acc-dropdown>.menu>li {
    padding: 0;
    margin: 0;
    display: block;
}
.acc-dropdown>.menu>li>a {
    white-space: nowrap;
    display: block;
    padding: 10px 15px;
    line-height: 1.5em;
    text-decoration: none;
    color: #fff;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
}
.acc-dropdown>.menu .empl-status {
    margin-bottom: -1px;
}
.empl-status.offline {
    background: rgba(197,205,213,.5);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);
}
.empl-status.away {
    background: #ecc000;
}
.empl-status.online {
    background: #84c203;
}
.empl-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
}
#account_nav>ul>li {
    margin: 0 0 0 0;
    float: left;
    background: #79975c;
}
.acc-dropdown>.toggle>span:first-child {
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.acc-dropdown>.toggle::after {
    content: "";
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: #b5cb9f transparent transparent;
    top: 50%;
    display: inline-block;
    position: static;
    right: auto;
    margin: 0 -3px -6px 12px;
}
.acc-dropdown>.menu.cols-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    max-width: 220%;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}
.acc-dropdown>.menu>li {
    padding: 0;
    margin: 0;
    display: block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
.fa-bars {
    font-size: 21px!important;
    position: relative;
    top: 2px;
}
#handelNav{
    background-color: rgb(121, 151, 92);;
}
#handelInnerNav{
    padding: 0px 12px 0px 12px;
}