div#content_wrapper {
    border-radius: 15px 15px 15px 15px;
    border: solid 7px rgba(0,0,0,.11);
    margin: 20px auto;
    width: 1040px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div#content_wrapper_inner {
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
}
.account_layout div#page_title {
    padding: 1.2em 3%;
}
.account_layout div#page_title h1 {
    font-size: 1.5em;
    font-weight: 300;
}
.container__team {
    margin: 2% 0 0 2%;
    width: 96%;
}
.container__team__details .employee_details .employee__name .changeName {
    color: #666!important;
    opacity: 0;
    font-size: 14px;
    margin-left: 10px;
}
.container__team__details .employee_details .employee__name .actionButtons {
    font-size: 13px;
    float: right;
}
.container__team__details .employee_details .employee__name .actionButtons .fa {
    color: #909090;
    font-weight: 100;
    font-size: 12px;
    margin-right: 5px;
}
.container__team__list {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    border-right: 1px solid #a9a9a9;
    margin-right: -1px;
}
.container__team__list .userGroup{
    min-height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
#create_group{
    color: gray;
    margin-left: 5px;
}
#handel_form{
    display: none;
    margin-bottom: 10px;
}
.container__team__list-item-active {
    background: #f5f5f5;
    border-left: solid 3px #b9d2a0;
}
.container__team__list-item {
    list-style: none;
    font-size: 14px;
    margin-left: 0;
    padding: 10px 10px 10px 5px;
    display: block;
    cursor: pointer;
    border-left: solid 3px transparent;
    color: #000!important;
    text-decoration: none!important;
}
.container__team-index {
    background: #aaa none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: .9em;
    line-height: 19px;
    padding: 1px;
    text-align: center;
    width: 22px;
    margin-right: 5px;
}
.container__team__list-item .truncated {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-top;
    white-space: nowrap;
    width: 180px;
}
.container__team__list-item-value {
    float: right;
}
.container__team__list-item {
    list-style: none;
    font-size: 14px;
    margin-left: 0;
    padding: 10px 10px 10px 5px;
    display: block;
    cursor: pointer;
    border-left: solid 3px transparent;
    color: #000!important;
    text-decoration: none!important;
}
#addNewEmployee{
    min-height: 40px;
    margin-right: 20px;
    margin-top: 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
#form-control-input{
    width: 220px;
}
.container__team__details {
    width: 70%;
    padding-left: 25px;
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid #a9a9a9;
    min-height: 430px;
}
.joyride-beacon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 0;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 1040;
}
.container__team__details .employee_details .employee__name {
    min-height: 30px;
}
.container__team__details .employee_details .employeeEmail {
    font-size: 13px;
}
.container__team__details .employee_details .optionRow {
    min-height: 30px;
    margin-top: 10px;
}
.container__team__details .employee_details h4 {
    font-weight: 200;
}
.radio {
    padding-left: 20px;
}
.radio input[type="radio"] {
    /* opacity: 0; */
    z-index: 1;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.container__team__details .employee_details .info {
    font-size: 12px;
    vertical-align: baseline;
    display: inline-block;
    margin-left: 2px;
}
.radio+.radio, .checkbox+.checkbox {
    margin-top: -5px;
}
.container__team__details .managersContainer {
    margin-top: 45px;
}
.container__team__details .managersContainer h4 {
    margin-bottom: 5px;
}
.container__team__details .managersContainer .description {
    color: #777;
    font-size: 13px;
    margin-bottom: 10px;
}
.container__team__details .managersContainer .managedUsers {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    overflow: auto;
}
.container__team__details .managersContainer {
    margin-top: 45px;
}
.container__team__details .managersContainer h4 {
    margin-bottom: 5px;
}
.employeeProjects .oneColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    overflow: auto;
}
.container__team__details .managersContainer .managerRow {
    font-size: 15px;
    padding: 6px 10px 6px 0;
    width: 100%;
    display: inline-block;
}
.employeeProjects .managerRow a {
    font-size: 12px;
}
.employment-settings {
    margin-top: 45px;
}
.employment-settings__description {
    font-size: 14px;
    margin: 4px;
    display: inline-block;
    width: 250px;
}
.employment-settings__value {
    margin-top: 5px;
}
.employment-settings__description {
    font-size: 14px;
    margin: 4px;
    display: inline-block;
    width: 250px;
}
#txt{
    padding: 10px;
    font-size: 0.9em;
    color: rgb(119, 119, 119);
}
#ic{
    margin-right: 5px;
    font-size: 18px;
    vertical-align: text-bottom;
}