
div#content_wrapper {
    border-radius: 15px 15px 15px 15px;
    border: solid 7px rgba(0,0,0,.11);
    margin: 20px auto;
    width: 1040px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div#content_wrapper_inner {
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
}
.account_layout div#page_title {
    padding: 1.2em 3%;
}
.account_layout div#page_title h1 {
    font-size: 1.5em;
    font-weight: 300;
}
.container__clients {
    margin: 2% 0 0 2%;
    width: 96%;
}
.container__clients__list {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    border-right: 1px solid #a9a9a9;
    margin-right: -1px;
}
.container__clients__list-item-active {
    background: #f5f5f5;
    border-left: solid 3px #b9d2a0;
}
.container__clients-index {
    background: #aaa none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: .9em;
    line-height: 19px;
    padding: 1px;
    text-align: center;
    width: 22px;
    margin-right: 5px;
}
.container__clients__list-item .truncated {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-top;
    white-space: nowrap;
    width: 200px;
}
.container__clients__list-item {
    list-style: none;
    font-size: 14px;
    margin-left: 0;
    padding: 10px 10px 10px 5px;
    display: block;
    cursor: pointer;
    border-left: solid 3px transparent;
    color: #000!important;
    text-decoration: none!important;
}
.container__clients-index {
    background: #aaa none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: .9em;
    line-height: 19px;
    padding: 1px;
    text-align: center;
    width: 22px;
    margin-right: 5px;
}
.container__clients__details {
    width: 70%;
    padding-left: 25px;
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid #a9a9a9;
    min-height: 430px;
}
.container__clients__details .employee_details .employee__name {
    min-height: 30px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
 /* .container__clients__details .employee_details .employee__name .changeName {
    color: #666!important;
    opacity: 0;
    font-size: 14px;
    margin-left: 10px;
}  */