/* div#content_wrapper {
    border: none;
    background: transparent;
} */
/* div#content_wrapper_inner {
    background: transparent;
    _background: #7295a3 url(https://screenshotmonitor.com/content/css/img/site_bg_blurred2.gif) center -159px no-repeat !important;
} */
div#content_wrapper_inner {
    /* background: #fff; */
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
}
div#content_wrapper_inner:before {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
div#content_wide {
    margin: 3% 0 0 3%;
    width: 94%;
}
#login-container {
    width: 54%;
    margin: 70px auto 30px;
    background: #f1f1f1;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.11), 0 0 40px rgba(0, 0, 0, 0.5);
}
.fancyserif {
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    /* border-style: groove; */
    /* border-color: threedface; */
    border-image: initial;
}
form.classic fieldset>div {
    border-top: 1px dotted #ccc;
    clear: both;
    overflow: hidden;
    padding: 1em 0 1em 150px;
}
 #label-login {
    color: #222;
    float: left;
    font-size: 1.071em;
    font-weight: bold;
    left: -150px;
    margin: 0 -130px 0 0;
    position: relative;
    width: 130px;
} 
input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
    border: 1px solid #ccc;
    -ms-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    line-height: 1.428571429;
}
form div.submit {
    border-bottom: 0 none;
    overflow: hidden;
}
form input.action_main[type="submit"] {
    cursor: pointer;
    _float: right;
    margin: 0;
    padding: .4em 2em;
}
form div.submit p {
    float: left;
    font-size: .923em;
}
.action_main {
    background-color: #e44d32;
    border-color: #b83b25;
}