div#content_wrapper {
    border-radius: 15px 15px 15px 15px;
    border: solid 7px rgba(0,0,0,.11);
    margin: 20px auto;
    width: 100% !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div#content_wrapper_inner {
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
}
div#content_wrapper_inner:before {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
div#page_title {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1.79em 3%;
    background: url(https://screenshotmonitor.com/less/common/img/site_bg_blurred3.png) repeat-x center top #ccd8e0;
}
div#page_title h1 {
    font-weight: normal;
    line-height: 1.3em;
    font-size: 1.79em;
    margin: 0 0 .2em;
    margin: 0;
    font-weight: 400;
    text-align: left;
}
 div#page_title {
    padding: 1.2em 3%;
}
div#page_title>._\5ftimezone-switch {
    display: block;
    float: right;
    line-height: 2.2em;
}
.account_layout div#page_title h1 {
    font-size: 1.5em;
    font-weight: 300;
}
table.empls {
    width: 99%;
    margin-bottom: 30px;
}
table {
    background-color: transparent;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.empls>tbody>tr:first-child>* {
    border-bottom-width: 1px;
}
table.empls>tbody>tr>th {
    font-weight: normal;
}
a.order-link {
    text-decoration: none;
    color: #aaa;
}
a.order-link>u {
    text-decoration: none;
    color: #000;
}
table.empls .lastworked {
    text-align: center;
    width: 211px;
}
a.order-link {
    text-decoration: none;
    color: #aaa;
}
a.order-link>u {
    text-decoration: none;
    color: #000;
}
a.order-link>i.fa {
    padding-left: 6px;
}
table.empls .daywork {
    text-align: center;
    width: 11%;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#handelSecondTr{
    
        text-align: center;
        background: rgb(245, 245, 245);
        height: 60px;
}
#handelSecondTr1{
    font-size: 12px;
    color: rgb(170, 170, 170);
}
table.empls>tbody>tr>* {
    padding: 10px;
    border-bottom: 2px dotted #ccc;
}
table.empls div.name {
    font-size: 1.8em;
    line-height: 1.8em;
    white-space: nowrap;
    max-width: 320px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.empl-status.online {
    background: #84c203;
}
#idSpan{
    position: absolute;
    margin-left: 21px;
}
#idSpan .project-label{
    background-color: rgb(51, 102, 204);
}
table.empls .project-label {
    float: left;
    top: -5px;
    margin-right: 5px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px;
}
.project-label {
    color: #fff;
    background: #888;
    font-size: 10px;
    padding: 3px 4px;
    line-height: 1em;
    border-radius: 2px;
    font-weight: 600;
    position: relative;
    top: -1px;
}
table.empls .noteLabel {
    display: inline-block;
    color: #a2a2a2;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
    font-size: 12px;
    line-height: 20px;
    top: -6px;
}
a._myhome-screen {
    text-align: left;
    position: relative;
    border-radius: 4px;
    display: block;
    padding: 1px;
    border: solid 4px #ccc;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
    box-sizing: content-box;
    min-height: 40px;
}
a._myhome-screen>span {
    _font-size: .9em;
    display: block;
    position: absolute;
    top: 1px;
    background: rgba(255,255,255,.8);
    padding: 0 5px;
    width: 180px;
    color: #000;
    _text-align: right;
    _text-shadow: 0 0 4px #fff;
}
table.empls .daywork {
    text-align: center;
    width: 11%;
}
.range-money {
    color: #aaa;
    font-size: 12px;
}
@media only screen and (max-width: 600px) {
    #page_inner {
   width: 50% !important;
    }
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}