#account_nav_container {
    height: 50px;
}
div#content_wrapper {
    border-radius: 15px 15px 15px 15px;
    border: solid 7px rgba(0,0,0,.11);
    margin: 20px auto;
    width: 1040px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div#content_wrapper_inner {
    background: #fff;
    border-radius: 8px 8px 8px 8px;
    padding: 0 0 10px;
    min-height: 460px;
    width: 100%;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.account_layout div#page_title {
    padding: 1.2em 3%;
}
.joyride-beacon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 0;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 1040;
}
.account_layout div#page_title {
    padding: 1.2em 3%;
}
.filter_container {
    padding: 2.8% 2.8% 30px;
    background: #f5f5f5;
}

.reports_container .search-row {
    margin-bottom: 15px;
    width: 100%;
}
.moment-date-range {
    display: inline-block;
}
.moment-date-range .inputs {
    background-color: #fff;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px #dad9d9 solid;
    color: #aaa;
}
.moment-date-range .inputs .input-from, .moment-date-range .inputs .input-to {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    width: 105px;
    font-weight: 200;
    border: none;
    color: #aaa;
}
.moment-date-range .inputs .input-from, .moment-date-range .inputs .input-to {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    width: 105px;
    font-weight: 200;
    border: none;
    color: #aaa;
}
.filter_container .timeIntervals {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    vertical-align: text-bottom;
}
table {
    background-color: transparent;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
    text-align: initial;
}
.rpt-data tr:hover{
  background-color:#FFF9F0;
}
.filter_container .timeIntervals td {
    width: 100px;
    text-align: center;
}
.filter_container .timeIntervals td a {
    cursor: pointer;
}
.filter_container .timeIntervals td a:hover {
    color: #4172ac
}
.selector-container {
    float: right;
    line-height: 2.5em;
    position: relative;
    outline: none;
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
.selector-container .selector-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    padding: 10px;
    margin-top: -4px;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    left: auto;
    right: 0;
}
.selector-container .selector-dropdown tr {
    line-height: 2em;
}
.selector-container .selector-dropdown td.timezone-name {
    white-space: nowrap;
    font-size: 11px;
    padding-right: 10px;
    vertical-align: top;
}
.selector-container .selector-dropdown td.employee-name {
    cursor: pointer;
    max-width: 225px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    display: block;
    padding-right: 10px;
}
.selector-container .selector-dropdown .separator {
    border-top: 1px solid #bcbfbc;
}
.selector-container .selector-dropdown td.timezone-name {
    white-space: nowrap;
    font-size: 11px;
    padding-right: 10px;
    vertical-align: top;
}
.selector-container .selector-dropdown td.employee-name {
    cursor: pointer;
    max-width: 225px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    display: block;
    padding-right: 10px;
}
.selector-container .selector-dropdown .separator {
    border-top: 1px solid #bcbfbc;
}
.selector-container .selector-dropdown td.timezone-name {
    white-space: nowrap;
    font-size: 11px;
    padding-right: 10px;
    vertical-align: top;
}
.selector-container .selector-dropdown .separator {
    border-top: 1px solid #bcbfbc;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.Select--multi .Select-multi-value-wrapper {
    display: inline-block;
    float: left;
}
.Select-placeholder, .Select--single>.Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
}
.Select-input>input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}
.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}
.reports_container .search-row {
    margin-bottom: 15px;
    width: 100%;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select {
    position: relative;
}
.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}


.Select-placeholder, .Select--single>.Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.reports_container .search-row .notesInput {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    height: 36px;
    width: 100%;
    padding: 5px;
}
.Select--multi .Select-multi-value-wrapper {
    display: inline-block;
}
.reports_container .Select-value {
    background-color: #fff;
    border: 1px solid #a6bfcb;
    border-radius: 2px;
    color: #333;
}

.Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0,126,255,.24);
    padding: 1px 5px 3px;
}
.reports_container .Select-value .Select-value-label {
    white-space: nowrap;
    height: 25px;
    padding-top: 3px;
    display: inline-block;
}
.Select--multi.has-value .Select-input {
    margin-left: 5px;
}
.Select-input>input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}
.Select--multi.has-value .Select-input {
    margin-left: 5px;
}
.filter_container .checkbox {
    margin-top: -5px;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.filter_container .manageReport {
    color: #555;
    float: right;
}
.chartsContainer {
    width: 100%;
    background: #f5f5f5;
    display: block;
}
.reportBodyContainer {
    width: 100%;
}
.chartsContainer .linkContainer {
    padding-bottom: 10px;
    float: left;
}
.chartsContainer .linkContainer .reportChart {
    padding: 14px;
    text-decoration: none;
}
.chartsContainer .linkContainer :hover {
    background-color: #fff;
    font-weight: bold;
    padding-bottom: 12px;
}
#chartsContainer_p{
    padding: 2.8% 2.8% 30px;
}